.navtext {
  padding-top: 10%;
  font-size: 40px;
  letter-spacing: 0.2rem;
  text-align-last: center;
  text-transform: uppercase;
  background: linear-gradient(to right, #f2f5f5 0%, #88c030 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
