.navtext {
  padding-top: 10%;
  font-size: 40px;
  letter-spacing: 0.2rem;
  text-align-last: center;
  text-transform: uppercase;
  background: linear-gradient(to right, #f2f5f5 0%, #88c030 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


@media (max-width: 768px){ 
  .navtext{
    margin-left: 20pxs;

    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.2rem;
    text-align-last: center;
    text-transform: uppercase;
    color: #f2f5f5;
  }
  .start-head{
    font-size: 1.5rem;
    
  }
  .social-bar{
      border: none;
      height: 40px;
      width: 30px;
      padding-top: 120px;
      margin: 0px;
      
    
  }
.bg-cover{

  background: rgb(227,32,32);
background: linear-gradient(124deg, rgba(227,32,32,1) 0%, rgba(63,71,205,0.7665660014005602) 20%, rgba(0,0,0,0.8337928921568627) 63%);
}

  .social{
    margin: 0px;
  }
  .main-container{
    margin-left: 0px;
    margin-right: 5px;
    overflow-x: 30px;
    margin-top: 10px;
  }
  .footer-text{
    font-size: medium;
    text-align: center;
  }
}